.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* GENERAL BUTTON STYLING */
.button,
.button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.button {
  background: none;
  border: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  position: relative;
  text-transform: uppercase;
}

.button::before,
.button::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.button:hover {
  color: #a5aaa7;
}

/* BUTTON */
.btn::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn::after {
  background: #a5aaa7;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.btn:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
